<div class="header-container">
    <img class="header-logo" src="../../../assets/FNBLogo.png">

    <div class="user-container">
        <span class="user-icon icon-user"></span>
        <p class="user-text">Welcome back, {{ currentUser }}</p>

        <ul class="user-list">
            <li class="user-item" *ngFor="let user of listOfUsers">
                <p class="username" (click)="selectUser(user)">{{ user.name }}</p>
            </li>
        </ul>
    </div>

    

    <div class="toast-container" [ngClass]="toastMessage && setToastActive ? 'success' : ''">
        <p class="toast-text">{{ toastMessage }}</p>
    </div>
</div>
