@import '../../shared/shared-styles/shared-styles.scss';

.header-container {
    position: fixed;
    width: 100%;
    background: linear-gradient(135deg,  #00ac8c 0%,#00abae 100%);
    z-index: 2;
    
    .user-container {
        margin: auto;
        width: fit-content;
        display: flex;
        flex-direction: row;
        cursor: pointer;

        &:hover .user-list {
            opacity: 1;
            left: 0;
        }

        .user-icon {
            display: block;
            width: 20px;
            height: 20px;
            background-color: white;
            border-radius: 50%;
            margin: 20px 0;
        }

        .user-text {
            color: white;
            margin-left: 10px;
            padding: 20px 0;
        }
    }

    .user-list {
        position: absolute;
        top: 100%;
        left: -9999px;
        right: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: auto;
        background: white;
        box-shadow: 1px 1px 1px rgb(211, 211, 211);
        padding: 0;
        border-radius: 20px;
        list-style-type: none;
        opacity: 0;
        transition: opacity 1s ease, left 1s ease;

        .user-item {
            padding: 10px 10px;
            cursor: pointer;

            &:hover {
                background-color: rgb(223, 223, 223);
            }
        }

        .username {
            padding: 10px 0;
        }
    }

    .toast-container {
        position: absolute;
        right: -999px;
        background: grey;
        padding: 30px 30px;
        transition: opacity 1s ease, right 1s ease;

        .toast-text {
            color: white;
        }

        &.success {
            right: 0px;
            background: linear-gradient(135deg,  #00ac8c 0%,#00abae 100%);
        }

        &.error {
            right: 0px;
            background: rgb(160, 0, 13);
        }
    }
}

@media screen and (min-width: $small) and (max-width: $medium) {
    .header-container {
        position: relative;
        
        .user-container {
            .user-icon {

            }
    
            .user-text {
                
            }
        }

        .user-list {
            width: fit-content;
            margin: auto;
        }
    }
}