<div class="logo-container">
    <img class="logo">
    <p class="logo-text">Logo</p>
</div>

<div class="form-inputs-container">
    <div class="input-container">
        <label for="name">Name: </label>
        <input id="name" type="text" [formControl]="name">
    </div>

    <div class="input-container">
        <label for="surname">Surname: </label>
        <input id="surname" type="text" [formControl]="surname">
    </div>

    <div class="input-container">
        <label for="email">Email: </label>
        <input id="email" type="text" [formControl]="email">
    </div>

    <div class="input-container">
        <label for="password">Password: </label>
        <input id="password" type="text" [formControl]="password">
    </div>

    <p>Values: {{ name.value }} , {{ surname.value }} , {{ email.value }} , {{ password.value }}</p>
</div>

<div class="button-container">
    <p>{{ selectedUserId }}</p>
    <button (click)="updateDetails(this.selectedUserId)">Update Details</button>
    <button (click)="signupUsers()">Sign Up</button>
</div>
