<div class="blurb-container layout-container">
    <h3 class="blurb-text">Today is the day..</h3>

    <div class="logo-container">
        <img class="logo" src="../../../assets/FNBLogo.png">
        <p class="logo-text">Sign up today!</p>
    </div>
</div>

<div class="form-inputs-container layout-container">
    <div class="input-container">
        <div class="label-container">
            <span class="input-icon icon-user"></span>
            <label class="input-label" for="name">Name</label>
        </div>
        <input (focus)="updateInputStateToActive($event, true)"  class="input" id="name" type="text" [formControl]="name">
    </div>

    <div class="input-container">
        <div class="label-container">
            <span class="input-icon icon-user"></span>
            <label class="input-label" for="surname">Surname</label>
        </div>
        <input (focus)="updateInputStateToActive($event, true)" class="input" id="surname" type="text" [formControl]="surname">
    </div>

    <div class="input-container">
        <div class="label-container">
            <span class="input-icon icon-mail4"></span>
            <label class="input-label" for="email">Email</label>
        </div>
        <input (focus)="updateInputStateToActive($event, true)" class="input" id="email" type="text" [formControl]="email">
    </div>

    <div class="input-container">
        <div class="label-container">
            <span class="input-icon icon-key"></span>
            <label class="input-label" for="password">Password</label>
        </div>
        <input (focus)="updateInputStateToActive($event, true)" class="input" id="password" type="text" [formControl]="password">
    </div>

    <div class="input-container button-container">
        <div class="buttons-left">
            <button class="form-button update" (click)="updateDetails(false, this.selectedUserId)">Update Details</button>
            <button class="form-button clear" (click)="clearFormInfo()">Clear</button>
            <button class="form-button delete" (click)="updateDetails(true, this.selectedUserId)">Delete</button>
        </div>
        <div class="buttons-right">
            <button class="form-button sign-up" (click)="signupUsers()">Sign Up</button>
        </div>
    </div>
</div>
